.lidear
{
    display: flex;
    width: 742px;
    height: 132px;
    padding: 24px;
    justify-content: space-between;

        border-radius: 24px;
    background: #FFF;
    box-shadow: 0px -6px 0px 0px rgba(123, 127, 134, 0.15) inset;
}

.name0 {
    border-radius: 24px;
    border: 2px solid #FFC225;
    background: #FFF;
    box-shadow: 0px -6px 0px 0px rgba(123, 127, 134, 0.15) inset;
  }

  
.name1 {
    border-radius: 24px;
border: 2px solid #4BA9FF;
background: #FFF;
box-shadow: 0px -6px 0px 0px rgba(123, 127, 134, 0.15) inset;
  }

    
.name2 {
    border-radius: 24px;
    border: 2px solid #D35230;
    background: #FFF;
    box-shadow: 0px -6px 0px 0px rgba(123, 127, 134, 0.15) inset;
  }